# Eclipse project files
#.project
#.classpath
.settings/
.metadata/

# Ignore bin (build) directory
/bin/
/target/

# Ignore log files
*.log

# Ignore Maven / Gradle wrapper files
**/mvnw
**/mvnw.cmd
**/.mvn/
build/

# Ignore IntelliJ project files (if collaborators use IntelliJ)
*.iml
.idea/